# Dependencies
node_modules
package-lock.json
yarn.lock

# Production
.next
out
build
dist

# Misc
.DS_Store
*.pem

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
Thumbs.db
